<form action="/" method="post">
  <div class="form-group">
    <label for="title">New project title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <button type="submit" class="btn">Update Project</button>
</form>
