<h3>Change your project's title</h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="title">New project title</label>
    <input class="form-control" type="text" name="title">
  </div>
  <button type="submit" class="btn">Update Project</button>
</form>

<form action="/delete" method="get">
  <button type="submit" class="btn">Delete Project</button>
</form>

<a href="/">Back to project list</a>
