<h1><%= @project.title %></h1>

<% @volunteers.each do |volunteer| %>
  <h3><%= volunteer.name %></a></h3>
<% end %>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>
<a href="/">Back to project list</a>
